* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #34495e;
}
.wrap {
  width: 600px;
  margin: 250px auto;
}
.form,
.greetings {
  display: none;
}
.js-clock,
.form,
.greetings,
.toDoForm,
.toDoList li {
  text-align: center;
}
.js-title {
  font-size: 80px;
  font-weight: 900;
  color: white;
}

.form,
.greetings {
  margin-bottom: 50px;
}
.greetings {
  font-size: 50px;
  color: white;
}
.toDoForm input,
.form input {
  color: white;
  border: none;
  background-color: transparent;
  font-size: 30px;
  text-align: center;
  border-bottom: 5px solid white;
}
.toDoForm input:focus,
.form input:focus {
  outline: none;
}
.showing {
  display: block;
}

.toDoList div {
  display: flex;
  justify-content: space-between;
}
.toDoList li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toDoList button {
  background-color: transparent;
  border: none;
  font-size: 30px;
}
.toDoList span {
  font-size: 40px;
  color: white;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.js-weather {
  font-size: 23px;
  font-weight: 900;
  position: absolute;
  top: 20px;
  right: 20px;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 1s linear;
}
